$mobile-padding: 1.25rem;
$tablet-padding: 1.875rem;
$desktop-padding: 5rem;

$mobile-width: 20rem;
$tablet-width: 48rem;
$tablet-width-h: 64rem;
$desktop-width: 80rem;
$desktop-width-1440: 90rem;
$desktop-width-1600: 100rem;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
