$icons-font: "icons";

@font-face {
    font-family: $icons-font;
    src: url("./icons.ttf?54bf48408c10c0f8ba3bb4f140c75dc8") format("truetype"),
url("./icons.woff?54bf48408c10c0f8ba3bb4f140c75dc8") format("woff"),
url("./icons.woff2?54bf48408c10c0f8ba3bb4f140c75dc8") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$icons-map: (
    "cancel": "\f101",
    "edit": "\f102",
    "fb-icon": "\f103",
    "plus": "\f104",
);

.icon-cancel:before {
    content: map-get($icons-map, "cancel");
}
.icon-edit:before {
    content: map-get($icons-map, "edit");
}
.icon-fb-icon:before {
    content: map-get($icons-map, "fb-icon");
}
.icon-plus:before {
    content: map-get($icons-map, "plus");
}
