$icons-font: "icons";

@font-face {
    font-family: $icons-font;
    src: url("./icons.ttf?55f8ff05739eb2e7bb550377bcdc4eb1") format("truetype"),
url("./icons.woff?55f8ff05739eb2e7bb550377bcdc4eb1") format("woff"),
url("./icons.woff2?55f8ff05739eb2e7bb550377bcdc4eb1") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$icons-map: (
    "cancel": "\f101",
    "edit": "\f102",
);

.icon-cancel:before {
    content: map-get($icons-map, "cancel");
}
.icon-edit:before {
    content: map-get($icons-map, "edit");
}
